 <div class="navbar">
          <div class="navbar-inner myredcolor">

            <div class="left" ><img src="images/icon.png" height="40px"></div>
            <div class="right"><a href="#"  data-panel="right" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a></div>
          </div>
        </div>
<div class="pages">
  <div data-page="contacts" class="page">
<div class="page-content" >
                        <div class="content-block bg_aboutprogram myblock">
                               <br>
                               <div align="left" class="myheadingLarge">Choose a topic</div><br><br>
                               <br>
                               <div class="list-block " >
                                    <ul data-role="listview" data-theme="g" style="background:transparent; border:0">

                                          <li >
                                               <a href="abc.html" class="item-link  item-inner panel-reveal">
                                                <div class="myredtext">Topic 1</div>
                                                <p  class="myblacktext">Family Planning </p>
                                              </a></li>

                                      <li ><a href="abc.html" class="item-link  item-inner">
                                                <div class="myredtext">Topic 2</div>
                                                <p  class="myblacktext">Ebola </p>
                                              </a></li>
                                    <li><a disabled href="abc.html" class="item-link  item-inner ">
                                                <div class="myredtext">Topic 3</div>
                                                <p>Danger signs in pregnancy </p>
                                              </a></li>
                                        <li><a disabled href="abc.html" class="item-link  item-inner ">
                                                <div class="myredtext">Topic 4</div>
                                                <p>Danger sign in newborn </p>
                                              </a></li>
                                      <li><a disabled href="abc.html" class="item-link  item-inner ">
                                                <div class="myredtext">Topic 5</div>
                                                <p>Maternal and child Nutrition</p>
                                              </a></li>
                                    <li><a disabled href="abc.html" class="item-link  item-inner ">
                                                <div class="myredtext">Topic 6</div>
                                                <p>Common Deseases </p>
                                              </a></li>
                                        <li><a disabled href="abc.html" class="item-link  item-inner ">
                                                <div class="myredtext">Topic 7</div>
                                                <p>Basic Life Saving Skills </p>
                                              </a></li>
                                            <li><a disabled href="abc.html" class="item-link  item-inner ">
                                                <div class="myredtext">Topic 8</div>
                                                <p>Sexual and Gender Based Violence </p>
                                              </a></li>
                                    </ul>
                                </div>

                        </div>

</div>
       </div>
    </div>
