<div class="navbar">
    <div class="navbar-inner myredcolor">
        <div class="left"><img src="images/icon.png" height="40px"></div>
        <div class="right">
            <a href="#" data-panel="right" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="aboutprogram" class="page">
        <div class="page-content videodiv">
            <div class="content-block videodiv bg_360">
                <br>
                <br><br><br>
                <a href="#" class="mywhitetext" onclick="window.open('vrview/index.html?image=examples/Pano1.jpg', '_system');">
                <!--div align="center"><img src="images/about_icon_360.png" ;background: transparent; height="40px" width="40px"></div-->
                <div align="center" class="mywhitetext">
                  Community entrance
                </div>
                </a>
                <br>
                 <br>
                <br>
                <br>
                <br>
                <br>

            </div>
            <div class="content-block videodiv bg_360">
                <br>
                <br><br><br>
                <a href="#" class="mywhitetext" onclick="window.open('vrview/index.html?image=examples/Pano2.jpg', '_system');">
                <!-- div align="center"><img src="images/about_icon_360.png" ;background: transparent; height="40px" width="40px"></div-->
                <div align="center" class="mywhitetext">
                  Household entrance
                </div>
                </a>
                <br>
                 <br>
                <br>
                <br>
                <br>
                <br>

            </div>
            <div class="content-block videodiv bg_360">
                <br>
                <br><br><br>
                <a href="#" class="mywhitetext" onclick="window.open('vrview/index.html?image=examples/Pano3.jpg', '_system');">
                <!-- div align="center"><img src="images/about_icon_360.png" ;background: transparent; height="40px" width="40px"></div-->
                <div align="center" class="mywhitetext">
                  Welcoming to visit the patient
                </div>
                </a>
                <br>
                 <br>
                <br>
                <br>
                <br>
                <br>

            </div>
            <div class="content-block videodiv bg_360">
                <br>
                <br><br><br>
                <a href="#" class="mywhitetext" onclick="window.open('vrview/index.html?image=examples/Pano4.jpg', '_system');">
                <!-- div align="center"><img src="images/about_icon_360.png" ;background: transparent; height="40px" width="40px"></div-->
                <div align="center" class="mywhitetext">
                  Applying health skills
                </div>
                </a>
                <br>
                 <br>
                <br>
                <br>
                <br>
                <br>

            </div>
        </div>
    </div>
</div>
