<div class="navbar">
    <div class="navbar-inner myredcolor">
        <div class="left"><img src="images/icon.png" height="40px"></div>
        <div class="right">
            <a href="#" data-panel="right" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="aboutprogram" class="page">
        <div class="page-content videodiv">
            <div class="content-block bg_aboutprogram myblock">

                <div align="left" class="myheadingLarge">About the product</div>
                <br>
                <br>
                <br>
                <div align="center" class="mysubheading" style="margin-left:5px; margin-right:5px;">
                    <br>
                    <p>Leap, the mHealth platform that trains health care workers wherever they are, whenever you need it. </p>

                    <p class="myblacktext">Designed in Africa. For Africa.</p>
                </div>
                <br>
                <div align="left" class="mylisttext">
                    <p>We created Leap to empower organizations and health workers to transform the health outcomes of the communities that they serve. Our mLearning solution enables health workers to learn at their own pace, in their own time, on their
                        own mobile devices, through a combination of text and audio messages.</p>
                </div>
                <!-- start  
                <div class="listdiv"></div>-->
                    <div class="mylisttext">Leap comes with leading Amref healthcare training content and is customisable to your unique training demands.</div>
                    <br>

                    <div class="mylisttext">We offer a space for learners to exchange knowledge with peers and unprecedented learner engagement.</div>
                    <br>

                    <div class="mylisttext">We offer world class healthcare training directly to people’s pockets, at the touch of a button</div>
                    <br>

                
                <div align="center" class="myblacktext">But don’t just take our word for it, check out the video for more information!</div>

                <!--end -->
            </div>
            <div class="content-block videodiv bg_video">
                <br>
                <br>
                <br>
                <br>
                <br>
                <a href="video.html" class="mywhitetext"><div align="center"><img src="images/about_icon_play_video.png" ;height="60px" width="60px"></div>
                <div align="center" class="mywhitetext">
                    <!-- a href="#" onclick="window.open('http://storage.googleapis.com/vrview/index.html?image=//photovrse.com/examples/coral.jpg&is_stereo=true', '_system');"> Look Around</a-->
                    <!-- a href="#" onclick="window.open('vrview/index.html?image=examples/coral.jpg', '_system');"> Look Around</a-->
                     WATCH VIDEO
                    <!-- a href="#" id="look_around"> Look Around</a -->
                    <!-- div id="map" style="display:block; visibility:hidden"-->
                    <!-- iframe width="100%" scrolling="no" allowfullscreen src="vrview/index.html?image=//storage.googleapis.com/vrview/examples/coral.jpg&is_stereo=true"></iframe -->
                    <!-- /div -->
                </div></a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p align="center"><img src="images/VideoIcon.png" ;background: height="40px" width="40px"></p>
                <p align="center" class="myredtext">LOOK AROUND</p>
                <div align="left" class="myblacktext" style="margin-left:25px; margin-right:25px;">
                    <p>Have a look at our 360 degree view of a typical community and household where our health workers serve.</p>
                </div>
                <br>

            </div>
            <div class="content-block videodiv bg_360">
                <br>
                <br>
                <a href="#" class="mywhitetext" onclick="window.open('vrview/index.html?image=examples/HealthPano360.jpg', '_system');">
                <div align="center"><img src="images/about_icon_360.png" ;background: transparent; height="40px" width="40px"></div>
                <div align="center" class="mywhitetext">
                  START 360 VIEW
                </div>
                </a>
                <br>
                <br>

            </div>


        </div>
    </div>
</div>
