<div class="navbar">
    <div class="navbar-inner myredcolor">

        <div class="left"><img src="images/icon.png" height="40px"></div>
        <div class="right">
            <a href="#" data-panel="right" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="contacts" class="page">
        <div class="page-content">
            <div class="content-block bg_theprogram myblock">
                <div align="center"><img src="images/HeartIcon.png" height="40px" width="40px"></div>
                <div align="center" class="mysmalltext">The Solution</div>
                <br>
                <div align="center" class="myheading">Always In Touch</div>
                <div align="center" class="mytext" style="margin-left:25px; margin-right:25px;">
                    <p>We created Leap, an mHealth platform, on the basic mobile phone to train the next generation of health workers at the push of a button, wherever they are, and whenever it is needed</p>
                </div>
                <br>
                <div align="center">
                    <a href="aboutprogram.html">
                        <div align="vertical" class="mybutton">
                            <input type="submit" value="Learn More" class="mybutton" />
                    </a>
                    </div>
                </div>
            </div>
            <a name="mobileappanchor"></a>
            <div class="content-block bg_mobileapp myblock" id="mobileappanchor">
                <br>
                <div align="center"><img src="images/MobileAppIcon.png" height="40px" width="40px"></div>
                <br>
                <div align="center" class="mysmalltext">The Demo</div>
                <br>
                <div align="center" class="myheading">Life-long learning</div>
                <br>
                <div align="center" class="mytext" style="margin-left:25px; margin-right:25px;">
                    <p>Explore the demo which simulates how our community health workers learn on the basic phone </p>
                </div>
                <br>
                <br>
                <div align="center">
                    <a href="topic.html">
                        <div align="vertical">
                            <input type="submit" value="Try Demo" class="mobileappbutton" />
                    </a>
                    </div>
                </div>

            </div>

            <div class="content-block bg_othersay myblock">
                <br>
                <div align="center"><img src="images/WhatOthersSayIcon.png" height="40px" width="40px"></div>
                <br>
                <div align="center" class="mysmalltext">What Others Say</div>
                <br>

                <div align="left" class="myblacktext" style="margin-left:10px; margin-right:10px;">
                    <p>mLearnings has revolutionized the way we reach and engage our community health workers. Our learners are empowered to share ideas, provide each other support, ask questions they may be scared to ask in the classroom, learn in an interactive
                        and engaging way – all in their own time. </p>
                </div>
                <div align="center" class="mysubheading2">Gemma Payne, Project Lead for AstraZeneca</div>
                <br>

                <div align="left" class="myblacktext" style="margin-left:10px; margin-right:10px;">
                    <p>Community members, myself included, used to have a very horrible belief on how to cure injuries. We used different herbs, ashes, chicken waste, toothpaste and oils to treat injuries. As such, wounds and injuries got infected and took
                        long to heal. Little did I know that the things we applied on the wounds were dangerous, until I learnt about Basic Life Saving Skills through mLearning </p>
                </div>
                <div align="center" class="mysubheading2">Mary Shitemi, Community Health Worker for Kakamega County</div>
                <br>

                <div align="left" class="myblacktext" style="margin-left:10px; margin-right:10px;">
                    <p> The mHealth platform has enabled us to scale up our programme by reaching many community health workers in a short span of time, keeping them adequately supported through continued access to training and supervision</p>
                </div>
                <div align="center" class="mysubheading2">Lynn Sheila Makungu, Programme Coordinator for Save the Children</div>
                <br>

                <div align="left" class="myblacktext" style="margin-left:10px; margin-right:10px;">
                    <p>Many mothers in my CU used to think that their babies were only meant to receive immunizations until 9 months of age. Through mLearning, I gained knowledge on immunization, its importance, immunizable diseases, immunization schedule
                        and myths. I was surprised to learn that immunization was meant to be administered up to the age of 5! I have advised mothers and now, they have started taking their babies for immunization even after the 9th month!</p>
                </div>
                <div align="center" class="mysubheading2">Judith Nyapara, Community Health Worker for Migori County</div>
                <br>

                <div align="left" class="myblacktext" style="margin-left:10px; margin-right:10px;">
                    <p>Through mLearning, CHWs have learnt about their role in the community and gained basic communication & counselling skills. They can now interact with expectant mothers better, advise them and refer emergencies to Loosuk Health Centre.
                        In April 2016, the number of skilled deliveries rose from 10 to 20! We are now planning to organize a party to appreciate the CHWs in Loosuk!</p>
                </div>
                <div align="center" class="mysubheading2">Mary Letiwa, Community Health Extension Worker for Samburu County</div>
                <br>



            </div>
            <div class="content-block bg_contactus myblock">
                <div align="center"><img src="images/TalkToUsIcon.png" height="40px" width="40px"></div>
                <br>
                <div align="center" class="mysmalltext">TALK TO US</div>
                <br>
                <div align="center" class="myheading">Sounds good, right?</div>
                <br>

                <div align="center" class="mytext" style="margin-left:25px; margin-right:25px;">
                    <p> Get in touch with one of our friendly team members for more information </p>
                </div>
                <br>
                <br>
                <div align="center">
                    <input type="submit" value="Get In Touch" class="contactusbutton" />
                </div>
                <div align="center" class="mysmallgraytext">
                    <p> OUR PARTNERS</p>
                </div>
                <div align="center" class="mysmallgraytext">
                    <table style="width:100%"  style="table-layout:fixed">
                      <tr>
                          <td width="33%" align="center"><img src="images/logo_acn.png" style="display:block" width="95%"></td>
                          <td width="33%" align="center"><img src="images/logo_amref.png" style="display:block" width="95%"></td>
                          <td width="34%" align="center"><img src="images/logo_safari.png" style="display:block" width="95%"></td>
                      </tr>
                      <tr>
                        <td align="center"><img src="images/logo_kenya.png" style="display:block" width="95%"></td>
                        <td align="center"><img src="images/logo_mpesa.png" style="display:block" width="95%"></td>
                        <td align="center"><img src="images/logo_mez.png" style="display:block" width="95%"></td>
                      </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
