 <div class="navbar">
          <div class="navbar-inner myredcolor">

            <div class="left" ><img src="images/icon.png" height="40px"></div>
            <div class="right"><a href="#"  data-panel="right" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a></div>
          </div>
        </div>
<div class="pages">
<div data-page="video" class="page">
<div class="page-content" >
                        <div class="content-block bg_aboutprogram myblock">
                               <div align="left" class="myheadingLarge">Watch the Leap video</div><br><br><br>
                                <br>
                               <div align="left" class="myredtext">
                                   <img style="vertical-align:middle" src="images/arrow_left.png" height="40px">
                                   <a href="aboutprogram.html" class="myredtext" onclick="switchOffAudio()" > BACK</a>
                                </div>
                       <br>
                               
                               
                               <video align="center" id="videocontrol" width="95%" height="100%" controls autoplay>
                                    <source src="videos/leap_video.mp4" type="video/mp4">
   
                                Your browser does not support the video tag.
                                </video>

                        </div>

</div>
</div>
</div>
